<web-app>
    
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
<!--student page servlets-->

	
<servlet>
<servlet-name>AddCrop</servlet-name>
<servlet-class>AddCrop</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddCrop</servlet-name>
<url-pattern>/AddCrop</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ConsumerLogin</servlet-name>
<servlet-class>ConsumerLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ConsumerLogin</servlet-name>
<url-pattern>/ConsumerLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ConsumerRegistration</servlet-name>
<servlet-class>ConsumerRegistration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ConsumerRegistration</servlet-name>
<url-pattern>/ConsumerRegistration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DistributorLogin</servlet-name>
<servlet-class>DistributorLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DistributorLogin</servlet-name>
<url-pattern>/DistributorLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DistributorRegistration</servlet-name>
<servlet-class>DistributorRegistration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DistributorRegistration</servlet-name>
<url-pattern>/DistributorRegistration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FarmerLogin</servlet-name>
<servlet-class>FarmerLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>FarmerLogin</servlet-name>
<url-pattern>/FarmerLogin</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>FarmerRegistration</servlet-name>
<servlet-class>FarmerRegistration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>FarmerRegistration</servlet-name>
<url-pattern>/FarmerRegistration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ProcessorLogin</servlet-name>
<servlet-class>ProcessorLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ProcessorLogin</servlet-name>
<url-pattern>/ProcessorLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ProcessorProcess</servlet-name>
<servlet-class>ProcessorProcess</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ProcessorProcess</servlet-name>
<url-pattern>/ProcessorProcess</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DistributorProcess</servlet-name>
<servlet-class>DistributorProcess</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DistributorProcess</servlet-name>
<url-pattern>/DistributorProcess</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RetailerProcess</servlet-name>
<servlet-class>RetailerProcess</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RetailerProcess</servlet-name>
<url-pattern>/RetailerProcess</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ConsumerProcess</servlet-name>
<servlet-class>ConsumerProcess</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ConsumerProcess</servlet-name>
<url-pattern>/ConsumerProcess</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ProcessorRegistration</servlet-name>
<servlet-class>ProcessorRegistration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ProcessorRegistration</servlet-name>
<url-pattern>/ProcessorRegistration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RetailerLogin</servlet-name>
<servlet-class>RetailerLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RetailerLogin</servlet-name>
<url-pattern>/RetailerLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RetailerRegistration</servlet-name>
<servlet-class>RetailerRegistration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RetailerRegistration</servlet-name>
<url-pattern>/RetailerRegistration</url-pattern>
</servlet-mapping>
	
</web-app>