<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Provider_Register_Action</servlet-name>
        <servlet-class>provider.Provider_Register_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_Login_Action</servlet-name>
        <servlet-class>provider.Provider_Login_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Broker_Login_Action</servlet-name>
        <servlet-class>broker.Broker_Login_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accept_Provider</servlet-name>
        <servlet-class>provider.Accept_Provider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>provider.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Register_Action</servlet-name>
        <servlet-class>user.User_Register_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Login_Action</servlet-name>
        <servlet-class>user.User_Login_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accept_User</servlet-name>
        <servlet-class>user.Accept_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cloud_Login_Action</servlet-name>
        <servlet-class>cloud.Cloud_Login_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attacker_Action</servlet-name>
        <servlet-class>attacker.Attacker_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proxy_Request</servlet-name>
        <servlet-class>broker.Proxy_Request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proxy_Login_Action</servlet-name>
        <servlet-class>broker.Proxy_Login_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Permit_Action</servlet-name>
        <servlet-class>broker.Permit_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>okgsp_Login_Action</servlet-name>
        <servlet-class>broker.okgsp_Login_Action</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Provider_Register_Action</servlet-name>
        <url-pattern>/Provider_Register_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_Login_Action</servlet-name>
        <url-pattern>/Provider_Login_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Broker_Login_Action</servlet-name>
        <url-pattern>/Broker_Login_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accept_Provider</servlet-name>
        <url-pattern>/Accept_Provider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Register_Action</servlet-name>
        <url-pattern>/User_Register_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Login_Action</servlet-name>
        <url-pattern>/User_Login_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accept_User</servlet-name>
        <url-pattern>/Accept_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cloud_Login_Action</servlet-name>
        <url-pattern>/Cloud_Login_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attacker_Action</servlet-name>
        <url-pattern>/Attacker_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proxy_Request</servlet-name>
        <url-pattern>/Proxy_Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proxy_Login_Action</servlet-name>
        <url-pattern>/Proxy_Login_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Permit_Action</servlet-name>
        <url-pattern>/Permit_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>okgsp_Login_Action</servlet-name>
        <url-pattern>/okgsp_Login_Action</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
